*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    padding-left: 0;
}
ol{
    padding-left: 0;
}
input:focus{
    outline: none
}
button:focus{
    outline: none
}
textarea:focus{
    outline: none;
}
body{
    min-width: 320px;
    font-size: 14px;
    line-height: 1.1;
    background-color: #ffffff;
}
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:  none;
    color: inherit;
    font-size: 14px;
    line-height: 17px;
}

:focus::-webkit-input-placeholder { color:transparent; }
:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
:-ms-input-placeholder { color:transparent; } /* IE 10+ */
